NODE_ENV=
LOG_LEVEL=
API_GATEWAY_HTTP_PORT=

USER_SERVICE_GRPC_PORT=
AUTH_SERVICE_GRPC_PORT=

USER_SERVICE_HEALTH_PORT=
AUTH_SERVICE_HEALTH_PORT=
NOTIFICATION_SERVICE_HEALTH_PORT=

USER_SERVICE_GRPC_URL=
AUTH_SERVICE_GRPC_URL=

POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
USER_SERVICE_DB_HOST_PORT=
USER_SERVICE_DATABASE_URL=

NOTIFICATION_POSTGRES_USER=
NOTIFICATION_POSTGRES_PASSWORD=
NOTIFICATION_POSTGRES_DB=
NOTIFICATION_SERVICE_DB_HOST_PORT=
NOTIFICATION_SERVICE_DATABASE_URL=

JWT_SECRET=
JWT_ACCESS_EXPIRES_IN=
JWT_REFRESH_EXPIRES_IN=

KAFKA_BROKERS=
KAFKA_CLUSTER_ID=
KAFKA_BROKER_1_HOST_PORT=
KAFKA_BROKER_2_HOST_PORT=
KAFKA_BROKER_3_HOST_PORT=
KAFKA_UI_PORT=

PROMETHEUS_PORT=
GRAFANA_PORT=
GRAFANA_ADMIN_USER=
GRAFANA_ADMIN_PASSWORD=

ALERTMANAGER_PORT=

SMTP_FROM=
SMTP_TO=
SMTP_APP_PASSWORD=