POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
DATABASE_URL=

USER_SERVICE_GRPC_URL=
AUTH_SERVICE_GRPC_URL=

JWT_SECRET=
JWT_ACCESS_EXPIRES_IN=
JWT_REFRESH_EXPIRES_IN=

KAFKA_BROKERS=
KAFKA_CLUSTER_ID=
KAFKA_BROKER_1_HOST_PORT=
KAFKA_BROKER_2_HOST_PORT=
KAFKA_BROKER_3_HOST_PORT=
KAFKA_UI_PORT=
